# vim: et sw=4 ts=4 ft=zsh

if (( $+commands[ssh] )); then
    SSH_CONFIG="${HOME}/.ssh/config"
    alias ssh="ssh -F ${SSH_CONFIG}"
    if alias s &>/dev/null; then unalias s && alias s='ssh'; else alias s='ssh'; fi
fi
if (( $+commands[vim] )); then
    alias vim-plug-update='vim +PlugClean! +PlugUpdate +PlugStatus +qall'
    alias vim-plug-forceupdate='vim +PlugClean! +PlugUpdate! +PlugStatus +qall'
fi
if (( $+commands[git] )); then
    alias g='git'
fi
if (( $+commands[kubectl] )); then
    export PATH="${PATH}:${HOME}/dev/roger-huang/k8s"
    alias kubectl='KUBECONFIG=${HOME}/.kube/maps_config kubectl'
fi
if (( $+commands[diff-so-fancy] )); then
    alias fdiff='diff-so-fancy | less --tabs=4 -RFX'
fi
if (( $+commands[hub] )); then
    alias h='hub' && alias g='hub'
    [[ -s ~/.hub/hub ]] && export HUB_CONFIG=~/.hub/hub
fi
